* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background: url("./assets/drum-set-1839383_1920.jpg") bottom center;
  background-size: cover;
  font-family: sans-serif;
}

.title-page {
  font-family: serif;
  display: flex;
  flex: 1;
  font-size: 5rem;
  color: antiquewhite;
  align-items: center;
  justify-content: center;
  border: 0.3rem solid rgb(198, 241, 58);
  border-radius: 1rem;
  margin: 2rem;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.1s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
}

.playing {
  transform: scale(1.2);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 6rem;
}

.sound {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}
